{php $CSS = array('index');}
{template 'header_index'}
<div id="ipad_tips" style="display:none;"></div>
<!--首页导航-->
{template 'nav-mall'}
<!--main-->
<div class="conBox xcmain">
<div class="IndexTop clearfix">
<div class="Center fl">
<div id="myCarousel" class="carousel slide"> 
<!-- 轮播（Carousel）指标 -->
<ol class="carousel-indicators">
<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li>
<li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<!-- 轮播（Carousel）项目 -->
<div class="carousel-inner">
<div class="item active" > <a href="#" target='_blank'><img src="{DT_SKIN}style/images/banner1.png" alt=""></a> </div>
<div class="item " > <a href="#" target='_blank'><img src="{DT_SKIN}style/images/banner2.jpg" alt=""></a> </div>
<div class="item " > <a href="#" target='_blank'><img src="{DT_SKIN}style/images/banner3.jpg" alt=""></a> </div>
</div>
<!-- 轮播（Carousel）导航左右 --> 
<a class="carousel-control left" href="#myCarousel" data-slide="prev"></a><a class="carousel-control right" href="#myCarousel" data-slide="next"></a> </div>
<div class="smallBanner relative mt20">
<!--5大推荐滚动广告-->
<ul class="clearfix" id="register" style="width:762px;height:176px;overflow:hidden;">
<li class="goods"> <a href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg1.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>仙草<em>铁皮</em>石斛</p>
<span>源头好货品质无忧</span>
</div></div>
</li>
<li class="goods"> <a href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg2.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>复方<em>树莓</em>果酒</p>
<span>新品特惠上市</span>
</div></div>
</li>
<li class="goods"> <a href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg3.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>味丰<em>果制</em>工业品</p>
<span>产地直销品优价廉</span>
</div></div>
</li>
<li class="goods"> <a href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg2.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>复方<em>树莓</em>果酒</p>
<span>新品特惠上市</span>
</div></div>
</li>
<li class="goods"> <a  href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg4.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>莱芜<em>生姜</em>精选</p>
<span>全场精品特惠</span>
</div></div>
</li>
<li class="goods"> <a  href="#" target="_blank" rel='nofollow'>
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg5.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>山阳<em>核桃</em>产业带</p>
<span>健康补脑好零食</span>
</div></div>
</li>
<li class="goods"> <a  href="#" target="_blank" >
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg4.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>莱芜<em>生姜</em>精选</p>
<span>全场精品特惠</span>
</div></div>
</li>
<li class="goods"> <a  href="#" target="_blank" rel='nofollow'>
<div class="imgBox"> <img src="{DT_SKIN}style/images/gg5.jpg" alt=""> </div>
</a>
<div class="child">
<div class="child-text">
<p>山阳<em>核桃</em>产业带</p>
<span>健康补脑好零食</span>
</div></div>
</li>
</ul>
<!--5大推荐广告--> 
<div class="leftBtn iconfont icon-leftd" id="LeftArr"></div>
<div class="rightBtn iconfont icon-rightd" id="RightArr"></div>
</div>

</div>
<div class="RightBox fr">

<div class="policy">
<ul>
<li class="b1">七天包退</li>
<li class="b2">正品保障</li>
<li class="b3">闪电发货</li>
</ul>
</div>

<div class="user clearfix" id="rightUser">
<div class="headImg">
<div class="imgBox fl mr10">
{if $_userid}
<a target="_blank" href="{$MODULE[2][linkurl]}"><img src="{useravatar($_username, 'large')}&time={$DT_TIME}" width="50" height="50" alt="会员头像"/></a>
{else}
<img class="img100" src="{DT_SKIN}style/images/head_picture.png" alt="会员头像">
{/if}
</div>
<p class="Themefont01">Hi，<script language="javaScript"> 
now = new Date(),hour = now.getHours() 
if(hour < 6){document.write("凌晨好！")} 
else if (hour < 9){document.write("早上好！")} 
else if (hour < 12){document.write("上午好！")} 
else if (hour < 13){document.write("中午好！")} 
else if (hour < 17){document.write("下午好！")} 
else if (hour < 19){document.write("傍晚好！")} 
else if (hour < 23){document.write("晚上好！")} 
else  {document.write("夜里好！")} 
</script></p>
<p class="Themefont">欢迎来到 - {$DT[sitename]}</p>
</div>
<div class="clear"></div>
{if !$_userid} <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="login Themebg iconfont icon-Supplier">登录</a> <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="regist OrangeBg">免费开店</a> {else} <a href="{$MODULE[2][linkurl]}" class="login Themebg iconfont icon-Supplier">已登录</a> <a href="{$MODULE[2][linkurl]}logout.php" class="regist OrangeBg">退出</a> {/if}
</div>
<div class="centantBox">
<h3 class="titlenew clearfix" id="table">
<ul>
<li class="active li1">我是卖家</li>
<li class="li2">我是买家</li>
</ul>
</h3>
<ul class="Control pl5 box1">
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=5&action=add" target="_blank" rel="nofollow">发布商品</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}home.php" target="_blank" rel="nofollow">店铺管理</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=16" target="_blank" rel="nofollow">商品管理</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}favorite.php" target="_blank" rel="nofollow">收藏管理</a></li>
<a href="{$MODULE[2][linkurl]}message.php" class="btnnew Themebg mt10" target="_blank" rel="nofollow">收到的订单</a>
</ul>
<ul class="Control pl5 box2">
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}trade.php" target="_blank" rel="nofollow">收到的订单</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}friend.php" target="_blank" rel="nofollow">商友管理</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=6" target="_blank" rel="nofollow">发布采购单</a></li>
<li class="Themebghover"><a href="{$MODULE[2][linkurl]}chat.php" target="_blank" rel="nofollow">留言管理</a></li>
<a href="{$MODULE[2][linkurl]}trade.php?action=order" class="btnnew Themebg mt10" target="_blank" rel="nofollow">我的采购单</a>
</ul>
</div>
<div class="centantBox mt10">
<h3 class="titlenew clearfix">
<ul>
<li class="active">诚信购物网站</li>
</ul>
</h3>
</div>
<div class="Smallbutton clearfix">
<ul class="intro clearfix">
<li><i class="icon-intro1"></i>贸易认证</li>  
<li><i class="icon-intro2"></i>服务保障</li> 
<li><i class="icon-intro3"></i>买卖无忧</li>  
</ul>
</div>

</div>

<div class="clearfix"> 
<!--1楼-->
<!--广告区-->
<div class="clear"></div>
<div class="cBanner mt20 clearfix">
<a class="fl" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/1f1.jpg" alt=""> </a> 
<a class="fr" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/1f2.jpg" alt=""> </a> 
</div>
<!--广告区-->

<!--推广区-->
<div class="index_content">
<!--1区推荐图-->
<div class="index_feature contentmall mgb20">
<div class="titlemall"><img src="{DT_SKIN}style/aa/mall/feature_tt_bg.png" width="190" height="166" alt=""></div>
<div class="box">
<ul>
<li><a href="#" target="_blank"><img src="{DT_SKIN}style/aa/mall/133001441.jpg" width="250" height="161" alt=""></a></li>
<li><a href="#" target="_blank"><img src="{DT_SKIN}style/aa/mall/132354881.jpg" width="250" height="161" alt="韩都衣舍"></a></li>
<li><a href="#" target="_blank"><img src="{DT_SKIN}style/aa/mall/132431901.png" width="250" height="161" alt=""></a></li>
<li><a href="#" target="_blank"><img src="{DT_SKIN}style/aa/mall/132715761.jpg" width="250" height="161" alt=""></a></li>
<div class="clear"></div>
</ul>
</div>
<div class="clear"></div>
</div>
<!--2区推荐图-->
<div class="index_columns contentmall mgb20">
<div class="titlemall">
<div class="tt_pros"><img src="{DT_SKIN}style/aa/mall/133310951.jpg" width="420" height="190" alt=""></div>
</div>
<div class="box">
<div class="columns_list">
<ul>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133351201.jpg" width="199" height="208" alt=""></div></li>
<li class="hotpros"><img src="{DT_SKIN}style/aa/mall/133531941.jpg" width="399" height="208" alt=""></li>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133623411.jpg" width="199" height="208" alt=""></div></li>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133728411.jpg" width="199" height="208" alt=""></div></li>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133753901.jpg" width="199" height="208" alt=""></div></li>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133823371.jpg" width="199" height="208" alt=""></div></li>
<li><div class="pic"><img src="{DT_SKIN}style/aa/mall/133848881.jpg" width="199" height="208" alt=""></div></li>
</ul>
</div>
<div class="titlemall title_r">
<div><img src="{DT_SKIN}style/aa/mall/133911711.jpg" width="200" height="420" alt="">      </div>
</div>
<div class="clear"></div>
</div>
</div>

<!--广告区-->
<div class="cBanner clearfix"> <a class="f1"></a> <a class="fl" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/1f1.jpg" alt=""> </a> <a class="fr" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/1f2.jpg" alt=""> </a> </div>
<!--广告区-->
<!--内容开始-->
<!--长括号中为分类ID-->
{php $mid=16}
{php $child = get_maincat(0, $mid, 1);}
{loop $child $i $c}
{php $kk=$i+1}
{if $i < 6}
<div class="building floorlou f_first contentmall mgb20" dataid="f{$kk}">
<div class="titlemall mgb20">
<h3 class="left"><i>{$kk}F</i><a href="{$MODULE[16][linkurl]}{$c[linkurl]}" target="_blank">{$c[catname]}商城</a></h3>
<div class="right">
<ul>
<li class="red">热门专场：</li>
{if $c[child]}
{php $sub = get_maincat($c[catid], 16);}
{loop $sub $j $s}
{if $j<6}
<li> <a href="{$MODULE[$mid][linkurl]}{$s[linkurl]}" target="_blank" >{set_style($s[catname], $s[style])}</a></li>{/if}
{/loop}
{/if} 
</ul>
</div>
<div class="clear"></div>
</div>
<div class="box">
<div class="left">
<div class="hotpros">
<!--楼层左边的图片-->
<div class="pic">
<img src="{DT_SKIN}style/aa/mall/163913321.jpg" width="190" height="451" alt="">                
</div>

</div>
</div>
<div class="right">
<ul>
<!--{php $tags=tag("moduleid=$moduleid&catid=".$c[catid]."&condition=status=3&length=26&areaid=$cityid&pagesize=10&order=addtime desc&template=null");}--> 
{loop $tags $i $t}
<li class="">
<div class="pic"><a href="{$t[linkurl]}" target="_blank"><img src="{if $t[thumb]}{str_replace('thumb', 'middle', $t[thumb])}{else}{DT_SKIN}image/nopic100.gif{/if}" width="190" height="160" alt="{$t[alt]}"  onerror="this.src='{DT_SKIN}image/nopic100.gif'" class="leave"></a></div>
<div class="text">
<h3><a href="{$t[linkurl]}" target="_blank">{$t[title]}</a></h3>
<p class="color_yellow">{$DT[money_sign]}<strong>{$t[price]}</strong></p>
</div>
</li>
{/loop}
</ul>
</div>
<div class="clear"></div>
</div>
</div>
{/if}
{if $kk==1}
<div class="clear"></div>
<div class="cBanner clearfix"><a class="f2"></a><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/ff/4f.jpg" alt=""> </a> </div>
{elseif $kk==2}
<div class="clear"></div>
<div class="cBanner clearfix"> <a class="f3"></a><a class="fl" href="#"  target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/2f1.jpg" alt=""> </a> <a class="fr" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/2f2.gif" alt=""> </a> </div>
{elseif $kk==3}
<div class="clear"></div>
<div class="cBanner clearfix"> <a class="f4"></a><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/ff/5f.jpg" alt=""> </a> </div>
{elseif $kk==4}
<div class="clear"></div>
<div class="cBanner clearfix"><a class="f5"></a><a class="fl" href="#"  target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/3f1.jpg" alt=""> </a> <a class="fr" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/3f2.gif" alt=""> </a> </div>
{elseif $kk==5}
<div class="clear"></div>
<div class="cBanner clearfix"><a class="f6"></a><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/ff/6f.jpg" alt=""> </a> </div>
{elseif $kk==6}
<div class="clear"></div>
<div class="cBanner clearfix"><a class="f7"></a><a class="fl" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/4f1.jpg" alt=""> </a> <a class="fr" href="#" target="_blank" rel='nofollow'> <img class="img100" src="{DT_SKIN}style/aa/ff/4f2.jpg" alt=""> </a> </div>
{elseif $kk==7}
<div class="clear"></div>
<div class="cBanner clearfix"><a class="f8"></a><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/ff/6f.jpg" alt=""> </a> </div>
{/if}
{/loop}
<!--广告-->
<div class="cBanner clearfix"><a class="f9"></a><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/ff/6f.jpg" alt=""> </a> </div>
<!--3推荐区-->
<div class="index_topic contentmall">
<div class="titlemall">特价专场</div>
<div class="box">
<dl>
<dt><img src="{DT_SKIN}style/aa/mall/topic_tt.jpg" width="250" height="255" alt=""></dt>
<dd>
<ul>
<li><img src="{DT_SKIN}style/aa/mall/201506031636150829.jpg" width="234" height="255" alt=""></li>
<li><img src="{DT_SKIN}style/aa/mall/201506031636257115.jpg" width="234" height="255" alt=""></li>
<li><img src="{DT_SKIN}style/aa/mall/201506031636356701.jpg" width="234" height="255" alt=""></li>
<li><img src="{DT_SKIN}style/aa/mall/201506031636485538.jpg" width="234" height="255" alt=""></li>
<div class="clear"></div>
</ul>
</dd>
</dl>
</div>
</div>
<!--可能喜欢的商品-->
<div class="ninemall mt20">
<h3 class="titlenew">您可能喜欢的</h3>
<ul class="clearfix">
<!--{php $tagx=tag("moduleid=16&length=34&condition=status=3&areaid=$cityid&pagesize=5&order=addtime desc&template=null");}--> 
{loop $tagx $v}
<li> <a href="{$v[linkurl]}" class="ninemallA" target="_blank">
<div class="imgBox"><img class="w100" src="{if $v[thumb]}{str_replace('thumb', 'middle', $v[thumb])}{else}{DT_SKIN}image/nopic200.gif{/if}" onerror="this.src='{DT_SKIN}image/nopic200.gif'" height="226"></div>
<div class="name overflow">{$v[title]}</div>
<div class="price red">{$DT[money_sign]}： {$v[price]}</div>
<p class="overflow">{$v[company]}</p>
<div class="time">{area_pos($v[areaid], '-', 2)} <span class="f_r">销量：{$v[orders]}</span></div>
</a> </li>
{/loop}
</ul>
</div>
</div>
<div class="clear"></div>
<div class="mt20" style="border: #ddd 1px solid;"><a href="#" target="_blank"> <img class="img100" src="{DT_SKIN}style/aa/mall/f1.jpg" alt=""> </a> </div>
<!--内容END-->
</div>
</div>
</div>
<!--浮动-->
<div class="Floor" id="Floor">
<div class="Themebg titlenew">商品导购</div>
<ul>
{php $mid=16}
{php $child = get_maincat(0, $mid, 1);}
{loop $child $i $c}
{php $kk=$i+1}
{if $i < 6}
<li> <a class="f{$kk}" href="javascript:void(0)" onclick="clickA({$kk})">
<div class="FloorLi"> <i class="">{$kk} F</i><span class="Themebg cen">{$kk} F</span> </div>
<div class="FloorLi"> <i class="iconfont icon-{if $kk == 1}jixieqimo{elseif $kk == 2}nongye{elseif $kk == 3}xiangjiaosuliao{elseif $kk == 4}icon{elseif $kk == 5}yejinkuangchan{elseif $kk == 6}wujingongju{elseif $kk == 7}tubiao{elseif $kk == 8}qicheyongpin{/if}"></i><span class="Themebg">{dsubstr($c[catname], 14)}</span> </div>
</a> </li>
{/if}
{/loop}
</ul>
</div>
<div class="r_sidebar_wrap">
<div class="r_sidebar">
<div class="Right_side_button">
<ul>
<li class="Themebghover clearfix"><a href="{$MODULE[2][linkurl]}biz.php" ><span class="text mr5">我的贸易</span><i class="iconfont icon-Supplier"></i></a></li>
{if isset($MODULE[16])}
<li class="Themebghover clearfix" style="background-color: #dd2726;"><a href="{$MODULE[2][linkurl]}cart.php" ><span class="text mr5">购物车</span><i class="iconfont icon-mall"></i></a></li>
{/if}
<li class="Themebghover clearfix"><a href="{$MODULE[2][linkurl]}favorite.php" ><span class="text mr5">我的收藏</span><i class="iconfont icon-collection"></i></a></li>
<li class="Themebghover clearfix"><a href="{$MODULE[24][linkurl]}" ><span class="text mr5">帮助中心</span><i class="iconfont icon-bangzhu"></i></a></li>
<li class="Themebghover clearfix"><a href="{$MODULE[1][linkurl]}sitemap/" ><span class="text mr5">网站导航</span><i class="iconfont icon-ditudingwei"></i></a></li>
</ul>
</div>
<div class="Right_side_button Right_side_button2">
<ul>
<li class="Themebghover clearfix" style="background-color: #dd2726;"><a href="{$EXT[guestbook_url]}"><span class="text mr5">用户反馈</span><i class="iconfont icon-unie62a"></i></a></li>
<li class="Themebghover clearfix"><a href="javascript:;"><span class="code text mr5"><img class="img100" src="{DT_SKIN}style/images/wxlogo.png" alt=""></span><i class="iconfont icon-code"></i></a></li>
<li class="Themebghover clearfix" id="return_top"><a href="javascript:void(0)"><span class="text mr5">返回顶部</span><i class="iconfont icon-shifttop"></i></a></li>
</ul>
</div>
</div>
</div>
<script>
//左侧菜单的滚动事件
$(window).scroll(function () {
var scrollTop = $(document).scrollTop();
var contentItems = $(".xcmain").find(".building");
var currentItem = "";
if (scrollTop>=1385 && scrollTop<6190 && $("#Floor").css('display')=='block'){
$('#Floor').show();
setTimeout(function(){
$("#Floor").addClass('active');
},10);

}else if ((scrollTop>=6191 || scrollTop<1384) && $("#Floor").css('display')=='block'){
$('#Floor').removeClass('active');
setTimeout(function(){
$('#Floor').hide();
},200);
}
contentItems.each(function () {
var offsetTop = $(this).offset().top;
if (scrollTop > offsetTop - 300) {
currentItem = $(this).attr("dataid");
}
});
if (currentItem!='' && currentItem!=$("#Floor").find(".active").attr("class") && scrollTop>=1385 && scrollTop<6190) {
$("#Floor ").find(".active").removeClass("active");
$("#Floor").find("." + currentItem + "").addClass("active");
$('#Floor').show();
setTimeout(function(){
$("#Floor").addClass('active');
},10);
}
});
function clickA(e){
var Divbox = $('.cBanner').find('.f'+e+'').offset().top;
$('html,body').animate({
scrollTop:Divbox
},500);
}
//回到顶部
$("#return_top").click(function(){
$('html,body').animate({
scrollTop:'0'
},1000);
});
</script> 
<!--客服--> 
<!--footer--> 
<script type="text/javascript" src="{DT_STATIC}file/script/marquee.js"></script>
<script type="text/javascript" src="{DT_SKIN}style/js/tongji.js"></script> 
<script type="text/javascript" src="{DT_STATIC}file/script/index.js"></script> 
<script type="text/javascript" src="{DT_SKIN}style/js/scrollPic.js"></script>
<script type="text/javascript">
playMarquee();
function playMarquee()
{
//触发图片滚动
var scrollPic_01 = new ScrollPic();
scrollPic_01.scrollContId   = "register"; //内容容器ID
scrollPic_01.arrLeftId      = "LeftArr";//左箭头ID
scrollPic_01.arrRightId     = "RightArr"; //右箭头ID
scrollPic_01.frameWidth     = 762;//显示框宽度
scrollPic_01.pageWidth      = 153; //翻页宽度
scrollPic_01.speed          = 30; //移动速度(单位毫秒，越小越快)
scrollPic_01.space          = 30; //每次移动像素(单位px，越大越快)
scrollPic_01.autoPlay       = true; //自动播放
scrollPic_01.autoPlayTime   = 3; //自动播放间隔时间(秒)
scrollPic_01.initialize(); //初始化
}
</script>
<script type="text/javascript">
new dmarquee(24, 10, 3000, 'pic_txt');
new dmarquee(22, 10, 3000, 'site_stats');
new dmarquee(22, 30, 3000, 'company');
if(get_cookie('auth')) {
$('.iuser_l')[0].title = '商务中心';
$('.iuser_l')[0].href = '{$MODULE[2][linkurl]}';
$('.iuser_l')[0].className = 'iuser_u';
$('.iuser_r')[0].title = '完善我的会员资料';
$('.iuser_r')[0].href = '{$MODULE[2][linkurl]}edit.php';
$('.iuser_r')[0].className = 'iuser_e';
}
</script> 
{template 'footer'}