{template 'header', $template}
</head>
{template 'top', $template}
<div class="container">
  <div class="row"> 
 {if $itemid}  
 <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
     <div class="list_box">
        <h2 class="left_h">{$title}</h2>
        <!-- showpic -->
       
        <div class="col-sm-12 col-md-6 showpic_box">
 
          <ul class="showpic_flash">
          	{loop $albums $k $v} 
            <li><a class="example-image-link" data-lightbox="example-set" target="_blank"><img class="example-image" src="{$v}"/></a></li>
            {/loop}
          </ul>
          <div id="pic-page">
			{loop $thumbs $k $v}
 			<a data-slide-index="{$k}" href="{$v}"><img src="{$v}" /></a>  
 			{/loop}
 		  </div>
        </div>
        
        <!-- product_info -->
        
        <div class="col-sm-12 col-md-6 proinfo_box">
          <h1 class="product_h1">{$city_name}{$title}</h1>
          <ul class="product_info">
          	{if $MOD[hits]}
			<li>浏览次数：{$hits}</li>
		 
			{/if}
			 
			{if $n1 && $v1}
			<li>{$n1}： {$v1}</li>
			{/if}
			{if $n2 && $v2}
			<li>{$n2}： {$v2}</li>
			{/if}
			{if $n3 && $v3}
			<li>{$n3}： {$v3}</li>
			{/if}
			<li>需求数量： {$amount}</li>
			<li>价格要求： {$price}</li>
			<li>包装要求： {$pack}</li>
			<li>所在地： {area_pos($areaid, '')}</li>
 
			<li>有效期至： {if $todate}{$todate}{else}长期有效{/if}{if $expired}  [已过期] {/if}</li>
			<li>最后更新： {$editdate}</li>
            
          </ul>
           
        </div>
 		<div class="product_con">{$content} </div>
       
          
       </div>
    </div>  
	 
 {else} 
    <!-- right -->
    
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
      <div class="list_box">
        <h2 class="left_h">{$MENU[$menuid][name]}</h2>
        <ul class="list_news">
          {loop $lists $v}
          <li><a href="{$v[linkurl]}" title="{$v[title]}">{$v[title]}</a><span class="news_time">{timetodate($v[addtime], 3)}</span></li>
         {/loop}
        </ul>
        <div class="page">{$pages}</div>
      </div>
    </div>

 {/if}

   {template 'side', $template}</div>
</div>
 
{template 'footer', $template}

