{template 'header', $template}
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/homepage.js"></script>
</head>
{template 'top', $template}
<div class="container">
  <div class="row"> 
    
    <!-- right -->
    
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
      <div class="list_box">
        <h2 class="left_h">{$MENU[$menuid][name]}</h2>
        <div class="contents">  
 
<div class="main_body">
	<div class="px14 lh18">
		  
	 <ul class="product_info">
	<!-- <table width="100%" cellpadding="10" cellspacing="1"> -->
	<li>公司名称： {$COM[company]}</li>
	<li>公司地址： <a href="{DT_PATH}api/address.php?auth={encrypt($COM[address].'|'.$COM[company], DT_KEY.'MAP')}" target="_blank">{$COM[address]}</a></li>
	<li>所在地区： {area_pos($COM[areaid], '/')}</li>
	{if $COM[postcode]}
	<li>邮政编码： {$COM[postcode]}</li>
	{/if}
	<li>公司电话： {if $domain}{$COM[telephone]}{else}{anti_spam($COM[telephone])}{/if}</li>
	{if $COM[fax]}
	<li>公司传真： {if $domain}{$COM[fax]}{else}{anti_spam($COM[fax])}{/if}</li>
	{/if}
	{if $COM[mail]}
	<li>电子邮件： {if $domain}{$COM[mail]}{else}{anti_spam($COM[mail])}{/if}</li>
	{/if}
	<li>公司网址： {if $COM[homepage]}<a href="{$COM[homepage]}" target="_blank">{$COM[homepage]}</a><br/>{/if}
	<a href="{$COM[linkurl]}" target="_blank">{$COM[linkurl]}</a></li>
	{if $COM[truename]}
	<li>联 系 人： {$COM[truename]} （{if $COM[gender]==1}先生{else}女士{/if}）</li>
	{/if}
	{if $COM[department]}
	<li>部门(职位)： {$COM[department]}{if $COM[career]} （{$COM[career]}）{/if}</li>
	{/if}
	{if $COM[mobile]}
	<li>手机号码： {if $domain}{$COM[mobile]}{else}{anti_spam($COM[mobile])}{/if}</li>
	{/if}
	{if $COM[gzh]}
	<li>微信公众号： {$COM[gzh]} &nbsp; <a href="javascript:;" onclick="prompt('请按Ctrl+C复制微信号', '{$COM[gzh]}');" class="b">复制</a></li>
	{/if}
	{if $COM[gzhqr]}
	<li>扫码关注： <img src="{$COM[gzhqr]}"/></li>
	{/if}
	{if 0 && $COM[username] && $DT[im_web]}
	<li class="zztalk">即时通讯： 
	{im_web($COM[username])}
	</li>
	{/if}
	{if $COM[qq] && $DT[im_qq]}<li class="zztalk">QQ：{im_qq($COM[qq])}</li>{/if}
	{if $COM[wx] && $DT[im_wx]}<li class="zztalk">微信：{im_wx($COM[wx], $COM[username])}</li>{/if}
	{if $COM[ali] && $DT[im_ali]}<li class="zztalk">阿里旺旺：{im_ali($COM[ali])}</li>{/if}
	{if $COM[skype] && $DT[im_skype]}<li class="zztalk">skype：{im_skype($COM[skype])}</li>{/if}
	 
	{if 0 && $could_message}
	<li>在线状态： {if online($COM[userid])==1}<span class="f_red">当前在线</span>{else}<span class="f_gray">当前离线</span>{/if} </li>
	{/if}
	</ul>
	</div>
</div>
{if $api_map && $map}
<div class="main_head"><div><strong>公司地图</strong><a name="map"></a></div></div>
<div class="main_body">
	{php $map_height = 300;}
	{php @include DT_ROOT.'/api/map/'.$api_map.'/show.inc.php';}
</div>
{/if}
{if 0 && $could_message}
<div class="main_head"><div><strong>在线留言</strong><a name="guestbook"></a></div></div>
<div class="main_body">


	<script type="text/javascript">Df('{$MODULE[4][linkurl]}home.php?action=message&job=guestbook&template={$template}&skin={$skin}&username={$username}&sign={crypt_sign($template.$skin.$username)}', 'name="fra" id="fra" style="width:98%;height:550px;"');</script></div>
{/if}
</div>
      </div>
    </div>
    
    <!-- left --> 
    
    {template 'side', $template}</div>
</div>
{template 'footer', $template}

<script>
$('li.zztalk img').css({'max-width':'25px','max-height':'25px'}); 

</script>