  <!--{php $tags=tag("table=link&condition=status=3 and username='$username'&order=listorder desc&template=null");}-->
 {if tags}
<div class="link_box">
  <div class="container"><span class="link_title">友情链接</span>
    <button id="link_btn" class="glyphicon glyphicon-plus" aria-hidden="true"></button>
    <span class="link_list">
    {loop $tags $t}
    	<a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> 
    {/loop}
	 
	</span>
 </div>
</div>
{/if}

 {php $tels=explode(' ',$COM[telephone]);}
 <nav class="navbar navbar-default navbar-fixed-bottom footer_nav" style="height:auto">
  <div class="foot_nav"><a href="{userurl($username, 'file=homepage'.$city_url, $domain)}"><span class="glyphicon btn-lg" aria-hidden="true"><img src="{DT_STATIC}/company/htmlnew/images/foot-index.png" ></span>首页</a></div>
  <div class="foot_nav"><a href="tel:{$tels[0]}"><span class="glyphicon btn-lg" aria-hidden="true"><img src="{DT_STATIC}/company/htmlnew/images/foot-phone.png" ></span>手机</a></div>
  <div class="foot_nav"  aria-hidden="true"  data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="glyphicon btn-lg"><img src="{DT_STATIC}/company/htmlnew/images/foot-cate.png" ></span>分类</div>
  <div class="foot_nav"><a id="gototop" href="#"><span class="glyphicon  btn-lg" aria-hidden="true"><img src="{DT_STATIC}/company/htmlnew/images/foot-top.png" ></span>顶部</a></div>
</nav>
<footer>
  <div class="copyright">
    <p>CopyRight {timetodate($DT_TIME, 'Y')} All Right Reserved {$COM[company]}&nbsp; 
    技术支持：<a href="{DT_PATH}" target="_blank">{$DT[sitename]}</a>&nbsp;&nbsp;
		{if $show_stats}访问量:{$COM[hits]}&nbsp;&nbsp;{/if}
		{if $COM[icp]} | <a href="http://www.miibeian.gov.cn" target="_blank">{$COM[icp]}</a>{/if}
		{if $api_stats && $stats}
		{php include DT_ROOT.'/api/stats/'.$HOME['stats_type'].'/show.inc.php';}
		{/if}
	</p>
    <p >地址：{$COM[address]} &nbsp;
    	 {if $COM[telephone]}
    	 电话：
			{loop $tels $v}
    	 <a href="tel:{$v}">{$v}</a>&nbsp;
    	 	{/loop}
	{/if}
	{if $COM[mail]}
	 邮件：{$COM[mail]}&nbsp;
	{/if}
	{if $COM[mobile]}
	 手机：{$COM[mobile]}&nbsp;
	{/if}
	{if $COM[fax]}
	 传真：{$COM[fax]}&nbsp;
	{/if} 
 <a href="javascript:void(0);" onclick="$('html, body').animate({scrollTop:0}, 200);">返回顶部</a> </p>
	 
	 
	<div >
			<label style="display:inline-block;padding:1px;margin:0px;"><a style="color:grey;" href="{DT_PATH}" >{$DT[sitename]}</a></label>
		 {loop $citys $v}
		 	<label style="display:inline-block;padding:1px;margin:0px;"><a style="color:grey;" href="{userurl($username, 'file='.$file.'&city='.$v['pname'].'_'.$v['id'], $domain)}" >{$v['name']}</a></label>
		 {/loop}
	</div>
  </div>
</footer>
 
 
 
</body>
</html>
<script src="http://www.chengxin315.com/links/zzlinks.js"></script>
<script>
$('#submit_search').click(function(){
	var kw=$.trim($('#kw').val());
	if(kw==''){
		$('#kw').focus();
		return false;
	}
	$('#searchform').submit();
});

</script>
{php include DT_ROOT.'/template/m03stmhui201807yh07/baidu_js_push.htm';}
 