{template 'header', $template}
</head>
{template 'top', $template}
 
{loop $HMAIN $HM $MAIN}
{template 'main_'.$main_file[$HM], $template}
{/loop}
 
<div class="news_box">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="news_head" data-move-y="-50px">
          <h2>新闻中心</h2> 
        </div> 
        <div class="col-sm-4 col-md-4 col-mm-6 news_img" style="background-image: url({$background});"></div>
        <div class="col-sm-12 col-md-8 col-mm-12" >
          <ul class="news_index" >
            {loop $news_list $t}
           
            <li><span><strong>{timetodate($t[addtime], 1)}</strong><i>{timetodate($t[addtime], 2)}</i></span><a href="{userurl($username, 'file=news&itemid='.$t[itemid].$city_url, $domain)}">{$t[title]}</a>
              <br>
              <!-- len=50 -->
              <em>{$t['introduce']}</em></li>
            </li>
            {/loop}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 
<!--{php $tags=tag("table=link&condition=status=3 and username='$username'&order=listorder desc&template=null");}-->
 
 {if $tags}
<div class="link_box">
  <div class="container"><span class="link_title">友情链接</span>
    <button id="link_btn" class="glyphicon glyphicon-plus" aria-hidden="true"></button>
    <span class="link_list">
    {loop $tags $t}
    <a href="{$t[linkurl]}" target="_blank">{$t[title]}</a> 
    {/loop}</span></div>
</div>
{/if}
<script src="{DT_STATIC}/company/htmlnew/js/jquery.smoove.min.js"></script><script>$('.product_head,.product_img,.advantage_head,.advantage_col,.about_head,.about_content,.case_head,.news_head,.news_index').smoove({offset:'10%'});</script> 
  
{template 'footer', $template}