{template 'header', $template}
</head>
{template 'top', $template}
<div class="container">
  <div class="row">  
    <!-- right --> 
    <div class="col-xs-12 col-sm-8 col-md-9" style="float:right">
    {if $itemid}
      <div class="list_box">
        <h2 class="left_h">{$title}</h2>
        <div class="contents"> {$content} 
        </div>
      </div>
    {else}
      <div class="list_box">
        <h2 class="left_h">{$MENU[$menuid][name]}</h2>
        <div class="contents"> {$content} 
        </div>
      </div>
      <div class="list_box">
        <h2 class="left_h">公司档案</h2>
        <div class="contents"> 
      		<div class="px14 lh18"> 
      			<ul class="product_info">
					<li >公司名称：{$COM[company]}
					</li>
					<li>公司类型：{$COM[type]} ({$COM[mode]})
					</li>
					<li>所 在 地：{area_pos($COM[areaid], '/')}
					</li>
					<li>公司规模：{$COM[size]}
					</li>
					<li>注册资本：{if $COM[capital]}{$COM[capital]}万{$COM[regunit]}{else}未填写{/if}
					</li>
					<li>注册年份：{$COM[regyear]}
					</li>
				   
					{if $COM[deposit]}
					<li>保 证 金：已缴纳 <sliong class="f_green">{$COM[deposit]}</sliong> {$DT[money_unit]}
					</li>
					{/if}
					{if $COM[mode]}
					<li>经营模式：{$COM[mode]}
					</li>
					{/if}
					{if $COM[business]}
					<li>经营范围：{$COM[business]}
					</li>
					{/if}
					{if $COM[sell]}
					<li>销售的产品：{$COM[sell]}
					</li>
					{/if}
					{if $COM[buy]}
					<li>采购的产品：{$COM[buy]}
					</li>
					{/if}
					{if $COM[catid]}
					<li>主营行业：
						{php $catids = explode(',', substr($COM['catid'], 1, -1));}
						{loop $catids $i $c} 
						 	{cat_pos(get_cat($c), ' / ', '_blank')} 
							 &nbsp;&nbsp;&nbsp; 
						{/loop} 
					</li> 
					{/if}
				</ul>
			</div> 
         </div>
       </div>  
    {/if}
    </div>
     
    <!-- left --> 
    
   {template 'side', $template}</div>
</div>
  
{template 'footer', $template}