<!-- 招商代理 -->
 <!--{php $tags=tag("moduleid=22&condition=status=3 and username='$username'&pagesize=".$main_num[$HM]."&order=edittime desc&template=null");}--> 
 	{if $tags}
<div class="news_box">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="news_head" data-move-y="-50px">
          <h2><a href="{userurl($username, 'file=info'.$city_url, $domain)}">
          	{$main_name[$HM]}</a></h2> 
        </div>
        <!--{php $tags=tag("moduleid=22&condition=status=3 and username='$username'&pagesize=4&order=edittime desc&template=null");}-->
         <div class="col-sm-4 col-md-4 col-mm-6 news_img" style="background-image: url({$COM[jpginfo]});"></div>
        <div class="col-sm-12 col-md-8 col-mm-12">
          <ul class="news_index" >
           
			      {loop $tags $t}
           
            <li><span><strong>{timetodate($t[edittime], 1)}</strong><i>{timetodate($t[edittime], 2)}</i></span><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=info&itemid='.$t[itemid].$city_url, $domain)}{/if}">{$t[title]}</a>
            	<br>
            	<!-- len=50 -->
              <em>{dsubstr($t['introduce'], 100, '...')}</em></li>
            </li>
            {/loop}
	 
	
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{/if}  
 