<!--{php $main_num[$HM]=4;$tags=tag("moduleid=5&condition=status>2 and username='$username'&pagesize=".$main_num[$HM]."&order=edittime desc&fields=itemid,title,linkurl,thumb,edittime&template=null");}-->
{if $tags}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="product_index">
        <div class="product_head" data-move-y="-30px">
          <h2><a href="{userurl($username, 'file=sell'.$city_url, $domain)}">
          	{$HMAIN[$HM]}</a></h2> 
        </div>

        <div class="product_list">
         {loop $tags $i $t}
          <div class="col-sm-4 col-md-3 col-mm-6 product_img" data-move-y="200px"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'].$city_url, $domain)}{/if}"><img src="{imgurl($t[thumb], 160)}" class="img-thumbnail" alt="{$t[title]}"></a>
            <p class="product_title"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=sell&itemid='.$t['itemid'].$city_url, $domain)}{/if}" title="{$t[title]}">{$city_name}{$t[title]}</a></p>
          </div>
          {/loop} 
      	</div>
      </div>
    </div>
  </div>
</div>
{/if}
 