
<!--{php $main_num[$HM]=6;$tags=tag("moduleid=12&condition=status>2 and username='$username'&pagesize=".$main_num[$HM]."&order=addtime desc&fields=itemid,title,linkurl,thumb,addtime,items,open&template=null");}-->
 
{if $tags}
<div class="case_box">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="case_head" data-move-y="-30px">
          <h2><a href="{userurl($username, 'file=photo'.$city_url, $domain)}">{$main_name[$HM]}</a></h2> 
        </div>
        <div class="case_list">  {loop $tags $i $t}
          <div class="col-sm-4 col-md-4 col-mm-6 product_img" data-move-y="200px"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=photo&itemid='.$t['itemid'].$city_url, $domain)}{/if}"><img src="{imgurl($t[thumb], 160)}" class="opacity_img" alt="{$t[title]}"></a>
            <p class="product_title"><a href="{if $homeurl}{$t[linkurl]}{else}{userurl($username, 'file=photo&itemid='.$t['itemid'].$city_url, $domain)}{/if}" title="{$t[title]}">{$t[title]}</a></p>
          </div>
           {/loop}  </div>
      </div>
    </div>
  </div>
</div>
 
 {/if} 
