<body >
<header> 
  <div class="top_menu">
    <div class="container"><span class="top_name" style="display:inline-block;">欢迎光临{$COM[company]}-{if $city==1}总站{else}{$city_name}分站{/if}
$HOME[ico]--{$HOME[ico]}--
$COM[ico]--{$COM[ico]}--
     </span>
      <div class="top_lang"></div>
    </div>
  </div>
   
<div class="container">
    <div class="row"> 
       <div class="col-xs-12 col-sm-8 col-md-8" > 
       {if $logo} 
            <a href="{userurl($username, 'file=homepage'.$city_url, $domain)}"><img src="{$logo}" class="logo"/></a>
          
          {else} 
          <h1 class="row_h1"  >{$COM[company]}-{if $city==1}总站{else}{$city_name}分站{/if}</h1>
          <h4 class="row_h4" style="display:inline-block;">{dsubstr($COM['business'], 80, '...')}</h4> 
       {/if}
       </div>
      <div id="topsearch" class="col-xs-12 col-sm-4 col-md-4" >
        <form id="searchform" method="get" action="{$MODULE[4][linkurl]}home.php">
          <div class="input-group search_group" >
            <input type="hidden" name="action" value="search"/>
            <input type="hidden" name="homepage" value="{$username}"/>
            <input type="text" id="kw" name="kw" class="form-control input-sm" value="{if $kw}{$kw}{/if}" placeholder="产品搜索" required>
            
            <input type="hidden" name="file" value="sell">
            <span class="input-group-btn"><span id="submit_search" title="产品搜索" class="btn-lg" aria-hidden="true">产品搜索</span></span></div>
        </form>
       
      </div>
    </div>
  </div>
  
  <!-- Fixed navbar -->
  <nav id="top_nav" class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">导航菜单</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#">导航菜单</a> </div>
      <div id="navbar" class="navbar-collapse collapse" >
        <ul class="nav navbar-nav"  >
          <li><a {if $count_menu>8}style="padding:14px 10px 14px 10px"{/if}  href="{userurl($username, 'file=homepage'.$city_url, $domain)}">网站首页</a></li>
          {loop $MENU $k $v}
          <li class="dropdown"> <a  {if $count_menu>8}style="padding:14px 10px 14px 10px"{/if} href="{userurl($username, 'file='.$v['file'].$city_url, $domain)}">{$v[name]}</a>  
          </li>
          {/loop}
           {loop $nav_page $k $v}
          <li class="dropdown"> <a  {if $count_menu>8}style="padding:14px 10px 14px 10px"{/if} href="{userurl($username, 'file=introduce&itemid='.$v['itemid'].$city_url, $domain)}">{$v[title]}</a>  
          </li>
          {/loop}
           

        </ul>
      </div>
    
      
    </div>
  </nav>
 
</header>
 
 <!-- bxslider -->
{if $file=='homepage' && $bannert == 2}
<div class="flash">
  <ul class="bxslider">
    <li><a {if $bannerlink1}href="{$bannerlink1}" target="_blank"{else}href="###"{/if}><img src="{$banner1}" /></a></li>
    <li><a {if $bannerlink2}href="{$bannerlink2}" target="_blank"{else}href="###"{/if}><img src="{$banner2}" /></a></li>
    {if $banner3}<li><a {if $bannerlink3}href="{$bannerlink3}" target="_blank"{else}href="###"{/if}><img src="{$banner3}"  /></a></li>{/if}
    {if $banner4}<li><a {if $bannerlink4}href="{$bannerlink4}" target="_blank"{else}href="###"{/if}><img src="{$banner4}" /></a></li>{/if}
    {if $banner5}<li><a {if $bannerlink5}href="{$bannerlink5}" target="_blank"{else}href="###"{/if}><img src="{$banner5}" /></a></li>{/if}
     
  </ul>
</div>
<script type="text/javascript">    
$('.bxslider').bxSlider({ 
      adaptiveHeight: true, 
      infiniteLoop: true, 
      hideControlOnEnd: true, 
      auto:true 
    }); 
</script>
{elseif $banner}
<img src="{$banner}" style="display: inline-block;width: 100%;"/>
{/if}
  